* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #eee;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    webkit-box-shadow: -1px 1px 18px 13px rgba(0,0,0,0.27); 
    box-shadow: -1px 1px 18px 13px rgba(0,0,0,0.27);
    text-align: center;
    width: 300px;
    margin: 50px auto;
    border-radius: 10px;
}

img {
    width: 100%;
}

img.avatar{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
    padding: 3.7px;
    border: #4776E6 solid 4px ;
}

ul {
    list-style: none;
    margin: 48px 0px;
}

h1 {
    font-size: 32px;
    color: #00082F;
    margin-top: 24px;
    margin-bottom: 8px;
}

.username{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
    color: #00082F;
    opacity: 0.8;
}

.username:hover{
    color: #4776E6;
    opacity: 1;
}

ul li a {

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 16px;
    height: 53px;
    width: 20em;
    background-image: linear-gradient(to right, #4776E6 0%, #8200f4  51%, #4776E6  100%);
    padding: 15px 45px;
    transition: 1s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
}

ul li a:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

footer {
    font-weight: 500;
    font-size: 12px;
    color: #4776E6;
    opacity: 0.6;
    transition: opacity 400ms;
    margin-bottom: 10px;
}

footer:hover{
    opacity: 1
}

